/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* shared styles */
*
{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.text-light_gray
{
    color: #727272;
}
.btn-primary
{
    border-radius: 8px;
    font-size: 1.25rem;
    color: #FFF;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0px;
    margin-top: 10px;
}
/* header styles */
header
{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title
{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    position: relative;
    right: 20%;
}
nav>ul
{
    position: relative;
    display: flex;
    left: 20%;
    
}
nav li
{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner-styles */
.banner-content
{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title
{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin: 40px auto;

}
/* .banner-description
{
    color: #727272;
    margin-top: 15px;
} */
.banner img
{
    margin-top: 20px;
    position: relative;
    /* width: 100%; */
    max-width: 1100px;
    right: 12%;
}

/* main styles */
/* section-1 */
main
{
    max-width: 1440px;
    margin:70px auto;
}
/* teams styles */
.teams-container
{
    display: flex;
    align-items: center;
}
.teams-img-container
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 110px;
    gap:1rem;
    padding-top: 10px;
}
.teams-content
{
    padding-left: 70px;
    padding-right: 70px;
    gap: 50px;
}
.teams-title
{
    font-size: 45px;
}
.teams-title .quick-list
{
    font-weight: 500;
}
.teams-title .text-features
{
    color: #FF900E;
    font-weight: 700;
}
/* section-2 */
.section-title
{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    position: relative;
    /* left: 8%; */
    padding-left: 100px;
    margin-top: 10px; */
}
.sec_2_p
{
    padding-left: 100px;
}
/* features styles */
.features
{
    display: flex;
    margin-top: 130px;
    padding-left: 90px;
}
.features .card{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
}
.features h4
{
    color: #131313;
}
.features h3
{
    padding-left: 5px;
    padding-bottom: 40px;
}
.features img
{
    width:100%;
    /* padding-right: 10px; */
    /* padding-left: 30px; */
}
.ten-years-bedge
{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 250px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-bedge h2
{
    font-size: 4rem;
    margin: 0;
}
/* facts section */
.facts
{
    padding-top: 80px;
}
.facts-card-container
{
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    justify-content: space-around;
}
.facts-card-container .card-stats
{
    font-size: 2rem;
    color: #424242;
}
.facts-card-container .card-title
{
    font-weight: 600;
}
.card-title
{
    color: #727272;
    font-size: 1.2rem;
}
.card-stats
{
    color: #424242;
}
.facts-card-container .card
{
    border-radius: 10px;
    border: 2px solid ghostwhite;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    box-shadow:50px;
}
/* sponsors styles */
.sponsors
{
    text-align: center;
    gap: 10px;

}
.sponsor-heading
{
    text-align: center;
    padding-top: 30px;
}
.sponsor-desc
{
    padding-left: 100px;
    gap: 10px;
    padding-top:20px ;
    text-align: center;


}
.sponsors-img-container
{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 60px 80px;
}
/* footer styles */
footer p
{
    text-align: center;
    color: #424242;
    border-radius: 8px;
    background: #FFF4E7;
    /* width: 1400px; */
    padding-bottom: 40px;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
}
/*  Responsive media query*/
/* mobile devices */
@media screen and (max-width:576px) {
    header
    {
        padding: 15px;
    }
    .sponsors-img-container
    {
        flex-direction: column;
        gap: 20px;
    }
    .facts-card-container,.features
    {
        flex-direction: column;
        gap: 15px;
    }
    .banner img
    {
        position: relative;
        right: 2%;
        width: 100%;
    }
    nav
    {
        position: relative;
        right: 25%;
        margin-top: 5px;
        flex-direction:column;
    }
    .teams-container
    {
        flex-direction: column;
        position: relative;
        right: 15%;
        background: #FFF;
    }
    .teams-img-container
    {
        grid-template-columns: 1fr;
    }
    .nav-title
    {
        position: relative;
        left: 15%;
        margin-bottom: 10px;
    }
    .banner-title
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 50px;
        margin: 0 auto;
        position: relative;
        right: 5%;

    }
    .banner-description
    {
        font-size: 10px;
        position: relative;
        right: 5%;
    }
    .facts-card-container .card
    {
        text-align: center;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid ghostwhite;
        padding: 5px;
        box-shadow:50px;
    }
    footer p
    {
        width: 100%;
        margin: 0 auto;
    }
    
}
/* medium devices-tablet */
@media screen and (min-width:576px) and (max-width:960px) {
    
    *
    {
        margin: 0;
        padding: 0;
    }
    .sponsors-img-container
    {
        flex-direction: column;
        gap: 40px;
        padding-left: 300px;
    }
    .sponsors-img-container img
    {
        width: 300px;
    }
    header
    {
        margin: auto 0;
    }
    nav
    {
        flex-direction: column;
        position: relative;
    }
    .banner img
    {
        width: 610px;
        position: relative;
        right: 110px;
    }
    .nav-title
    {
        position: relative;
        right: 60%;
    }
    nav li
    {
        position: relative;
        left: 30%;
        bottom: 30px;
    }
    .teams-container
    {
        flex-direction: column;
        position: relative;
        right: 5%;
        background: #FFF;

    }
    .teams-content
    {
        position: relative;
        left: 7%;
        margin-top: 10px;
    }
}